<div class="modal fade coinFlipJoinModal modal-inventory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="row">
            
                <div class="score-panel col-md-3">
                    <div class="item">
                        <span class="label">Join Coinflip</span>
                        <span class="score">$2.00 - $4.56</span>
                    </div>
                    <div class="item">
                        <span class="label">Coinflip Deposit</span>
                        <span class="score">(0/20)</span>
                    </div>
                    <div class="item">
                        <span class="label">Selected</span>
                        <span class="score">$0.00</span>
                    </div>
                </div>
                <div class="data-panel col-md-9">
                    <div class="controlers text-left">
                        <a href="#" class="btn">
                            <span class="icon">
                                <img src="/img/refresh-icon.png" />
                            </span>
                            Refresh Inventory
                        </a>
                        <a href="#" id="dump-items" class="btn">
                            <span class="icon">
                                <img src="/img/delete-icon.png" />
                            </span>
                            Empty  Selection
                        </a>
                        <div class="your-coins float-right">
                            <a href="#" id="blue-coin" class="rounded-circle">
                                <img src="/img/coin-blue.png" />
                            </a>
                            <a href="#" id="red-coin" class="rounded-circle">
                                <img src="/img/coin-red.png" />
                            </a>
                        </div>
                    </div>
                    <div class="data-content">
                        <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                        </div>
                        <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                        </div>
                        <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                            <div class="gallery-cell skin-item">
                                <div class="top-sec">
                                    <span class="code">MM</span>
                                    <span class="amount">$24.25</span>
                                </div>
                                <div class="mid-sec">
                                    <img src="/img/gun.png">
                                </div>
                                <div class="bottom-sec">
                                    Tac 9 | Criticle
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="empty-data">
                    <i class="fa fa-ellipsis-h"></i>
                    </span> -->
                    <div class="bottom-sec">
                        <button id="coinflip-submit-selection" class="btn float-right">Join Lobby</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>