<div class="modal fade coinFlipModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div id="lobby-title" class="modal-header">
                Lobby ID: 97504
            </div>
            <div class="players-panel">
                <div class="player-left">
                    <div class="avatar rounded-circle" id="coinFlipPlayer1">
                        <img src="/img/user-img02.jpg" class="rounded-circle">
                        <div class="crown"><img src="/img/crown.png"></div>
                        <span class="coin">
                            <img src="/img/coin-red.png">
                        </span>
                    </div>
                    <span class="name">MîLåNâ</span>
                </div>
                <div class="player-right">
                    <div class="avatar rounded-circle" id="coinFlipPlayer2">
                        <img src="/img/user-img02.jpg" class="rounded-circle">
                        <div class="crown"><img src="/img/crown.png"></div>
                        <span class="coin">
                            <img src="/img/coin-blue.png">
                        </span>
                    </div>
                    <span class="name">MîLåNâ</span>
                </div>
                <div class="coin-flip-anim">
                    <div id="coin-flip-here">
                        <div class="side-a"></div>
                        <div class="side-b"></div>
                    </div>
                </div>
            </div>
            <div class="palyer-skins-panel">
                <span class="devider"></span>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <span class="float-left">
                                    <label>Item:</label> 4 
                                </span>
                                <span class="float-right">
                                    <label>Value:</label> $971.50 
                                </span>
                            </div>
                            <div class="card-body">
                                <table class="table"></table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <span class="float-left">
                                    <label>Item:</label> 4 
                                </span>
                                <span class="float-right">
                                    <label>Value:</label> $971.50 
                                </span>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>