<div class="container-fluid">
    <ul id="messages">

    </ul>
    <form action="" id="message-submission-form">
            <input autocomplete="off" />
            <button>Send</button>
    </form>
</div>