<div class="chat-panel">
    <div class="online-display gradient">
        Online users: <b>60</b>
        <a href="#" class="social-icon">
        <img src="/img/twitter-icon.png" />
        </a>
        <a href="#" class="social-icon">
        <img src="/img/icon.png" />
        </a>
    </div>
    
    <div class="chat-list">
    </div>
    <div class="footer-sec">
        <div class="input-group">
            <input type="text" id="chat-message-submit" class="form-control" placeholder="Your Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button id="chat-submit" class="btn" type="button">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>