<div class="panel-top">
    <div class="gallery js-flickity skins-list" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>
        </div>
        <div class="gallery-cell item">
            <div class="top-sec">
                <span class="avatar">
                <img src="/img/user-img01.jpg" />
                </span>
                <span class="code">MM</span>
                <span class="amount">$24.25</span>
            </div>
            <div class="mid-sec">
                <img src="/img/gun.png" />
            </div>
            <div class="bottom-sec">
                Tac 9 | Criticle
            </div>  
        </div>
    </div>
    </div>