<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="/img/logo.png" alt="VGOGEM">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-left collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link active" href="/games/roulette/diamond">
                <span class="nav-link-grp">
                <span class="icon rounded-circle">
                    <img src="/img/diamond-icon.png" alt="Diamond" />
                </span>
                <span class="link-label">
                    Diamond
                    <!--<span class="badge">$129.00</span>-->
                </span>
                </span>
            </a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/games/roulette/coal">
                <span class="nav-link-grp">
                <span class="icon rounded-circle">
                    <img src="/img/coal-icon.png" alt="Coal" />
                </span>
                <span class="link-label">
                    Coal
                    <!--<span class="badge">$129.00</span>-->
                </span>
                </span>
            </a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/games/roulette/plant">
                <span class="nav-link-grp">
                <span class="icon rounded-circle">
                    <img src="/img/plant-icon.png" alt="Plant" />
                </span>
                <span class="link-label">
                    Plant
                    <!--<span class="badge">$129.00</span>-->
                </span>
                </span>
            </a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/games/headon">
                <span class="nav-link-grp">
                <span class="icon rounded-circle">
                    <img src="/img/coin-icon.png" alt="Coin Flip" />
                </span>
                <span class="link-label">
                    Coin Flip
                    <!--<span class="badge">$129.00</span>-->
                </span>
                </span>
            </a>
            </li>
        </ul>
    </div>
    <% if(typeof currentUser !== "undefined") { %>
        <div class="navbar-right">
        <a href="/user/profile/<%- currentUser.steamid %>" class="profile-panel">
            <span class="nav-link-grp">
                <span class="avatar rounded-circle">
                    <img src="<%- currentUser.avatarfull %>" alt="user" />
                </span>
                <span class="link-label"><%- currentUser.personaname.length < 10 ? currentUser.personaname : currentUser.personaname.substring(0, 9).concat("...") %></span>
                <span class="text">Level</span> <span class="badge gradient"><%- currentUser.level %></span>
                
            </span>
        </a>
        </div>
    <% } else { %>
    <div class="navbar-right">
        <form id="steamlogin-form" action="/user/auth/openid" method="post">
            <a href="javascript:{}" onclick="document.getElementById('steamlogin-form').submit();" class="btn bg-gray">Login with Steam</a>
        </form>
        
    </div>
    <% } %>
</nav>