<div class="container" id="nav-div">
    <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="navbar-brand" href='/'>Logo</a></li>
            
            <% if(typeof currentUser !== "undefined") { %>
                <li class="nav-item"><a class="nav-link" href="/games/roulette">Roulette</a></li>
                <li class="nav-item"><a class="nav-link" href="/games/headon">Headon</a></li>
            <% } %>
        </ul>
        
        <% if(typeof currentUser !== "undefined") { %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src=<%- currentUser.avatar  %> /><p><%- currentUser.personaname %></p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
                        <a class="dropdown-item" href=<%-"/user/profile/" + currentUser.steamid %>>Profile</a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item" href="#">
                            <form id="logout-form" action="user/logout" method="post">
                                <input id="logout-btn" type="submit" value="Log Out" />
                            </form>
                        </span>
                    </div>      
                </li>
            </ul>
        <% } %>
    </nav>
</div>