<div class="scoreboard">
    <div class="panel">
    <div class="icon">
        <img src="/img/win-icon.png" />
    </div>
    <div class="label">Your chance of winning</div>
    <div class="score">0<small>%</small></div>
    </div>
    <div class="panel">
    <div class="icon">
        <img src="/img/money-icon.png" />
    </div>
    <div class="label">Deposited Amount</div>
    <div class="score"><small>$</small>0.00</div>
    </div>
    <div class="panel">
    <div class="icon">
        <img src="/img/left-item-icon.png" />
    </div>
    <div class="label">Time Left</div>
    <div class="score">1:30</div>
    </div>
    <div class="panel">
    <div class="icon">
        <img src="/img/grp-icon.png" />
    </div>
    <div class="label">Players</div>
    <div class="score">0</div>
    </div>
    <div class="panel winner">
    <span class="avatar">
        <img src="/img/player-photo.jpg" alt="Player">
    </span>
    <span class="name">VS Gaming</span>
    <span class="score-des">Won $264.12 with 20.85% chance with GameID #48876</span>
    </div>
</div>