<div class="panel-leftbar">
    <div class="player-list">
        <div class="player">
            <div class="row">
                <div class="col">
                    <span class="avatar">
                    <img src="/img/player-photo.jpg" alt="Player">
                    </span>
                    <span class="name">VS Gaming</span>
                </div>
                <div class="col">
                    <span class="amonut">$40.32</span>
                    <span class="items">(16 Items)</span>
                    <span class="ratio">44.31%</span>
                </div>
            </div>
        </div>
    </div> 
</div>
