<div class="jackpot-panel">
            
    <div class="jackpot">
        <a href="#" class="sound-btn btn rounded-circle">
            <i class="fa fa-volume-up"></i>
        </a>
        <div class="jackpot-line">
            <img src="/img/jackpot-line.png" />
        </div>
        <div class="jackpot-pointer">
            <img src="/img/jackpot-pointer.png" />
        </div>
        <div class="jackpot-timer">
            <div id="canvas">
                <div class="circle" id="circles-1"></div>
            </div>
        </div>
        <div class="jackpot-score">
            <div class="amount">$125</div>
            <div class="skins">30 Skins</div>
            <% if(rouletteType == "diamond") { %>
                <div class="icon">
                    <img src="/img/diamond-icon.png">
                </div>
            <% } else if(rouletteType == "coal") { %>
                <div class="icon">
                    <img src="/img/coal-icon.png">
                </div>
            <% } else { %>
                <div class="icon">
                    <img src="/img/plant-icon.png">
                </div>
                
            <% } %>
        </div>
        <canvas id="doughnut-canvas" style="width: 350px; height: 350px;"></canvas>
        <script type="text/javascript">
            let prevChart = null;

            function createChart(id, type, chartData, options) {
                var data = {
                    datasets: [{
                        label: 'My First dataset',
                        data: chartData.stakes,
                        backgroundColor: chartData.colors
                    }]
                };

                delete prevChart;
                prevChart = new Chart(document.getElementById(id), {
                type: type,
                data: data,
                options: options
                });
            }
            function plotStakes(type, chartData) {
                let canvas = document.getElementById(`${type}-canvas`);
                let canvasParent = canvas.parentElement;
                canvasParent.removeChild(canvas);
                let newCanvas = document.createElement("canvas");
                newCanvas.setAttribute("id", `${type}-canvas`);
                newCanvas.setAttribute("style", "width: 350px; height: 350px;");
                canvasParent.appendChild(newCanvas);
                
                createChart(type + '-canvas', type, chartData, {
                responsive: true,
                maintainAspectRatio: true,
                cutoutPercentage: 65,
                easing: 'easeInBounce',
                animation: {
                    animateRotate: true,

                },
                legend: {
                    position: 10,
                },
                layout: {
                    padding: {
                        left: 36,
                        right: 36,
                        top: 36,
                        bottom: 36
                    }
                },
                pieceLabel: {
                    render: 'image',
                    images: chartData.avatars
                }
                });
            }
        </script>
    </div>
    <div class="jackpot-btn">
    <button type="button" class="btn bg-green btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Deposit</button>
    </div>
  
</div>