<div id="roulette-modal" class="modal fade" role="dialog">
    <div id="roulette-modal-content" class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h2>Select the items you intend to gamble</h2>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <p id="total-gambled">Total: 0.00$</p>
                <button type="button" class="btn btn-basic" data-dismiss="modal" disabled>Submit</button>
            </div>
        </div>

    </div>
</div>