html, body {
    height: 100%;
    width: 100%;
}

#nav-div {
    height: 11%;
    max-width: 100%;
    border-bottom: 1px solid black;
}

.dropdown-menu {
    height: 110%;
}
#logout-form {
    margin-bottom: 10%;
    height: 30%;
}
#logout-btn {
    height: 150%;
}

li.dropdown {
    height: 100;
}

.main {
    height: 89%;
    width: 100%;
}

.chat {
   border-left: 1px solid black;
}
#message-submission-form {
    position: fixed;
    bottom : 0;
}

#timer-div {
    margin-left: 46%;
    margin-top: 10%;
}

#roulette {
    /*width:  20%;*/
    margin-left: 25%;
    margin-top: 5%;
}

#roulette-bet {
    width: 10%;
    height: 5%;
    margin-left: 45%;
    margin-top: 5%;
}
#roulette-bet > button {
    width: 100%;
    height: 100%;
}
.modal-lg {
    max-width: 100%;
}
#roulette-modal-content {
    height: 60%;
    width: 954px;
}
.modal-content {
    height: 100%;
}
.modal-body {
    overflow-y: scroll;
}
.modal-item-container {
    float: left;
    position: relative;
    text-align: center;
    color: white;
}
.modal-item-image {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.modal-item-cost {
    color: black;
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.selected-item {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#total-gambled {
    margin-bottom: 0;
}