html, body {
    height: 100%;
    width: 100%;
}

#nav-div {
    height: 11%;
    max-width: 100%;
    border-bottom: 1px solid black;
}

.dropdown-menu {
    height: 110%;
}
#logout-form {
    margin-bottom: 10%;
    height: 30%;
}
#logout-btn {
    height: 150%;
}

li.dropdown {
    height: 100;
}

.main {
    height: 89%;
    width: 100%;
}

.chat {
   border-left: 1px solid black;
}
#message-submission-form {
    position: fixed;
    bottom : 0;
}