body{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 14px;
	background: #2e2e50;
}
.btn{
	color: #fff;
}
*::-webkit-scrollbar {
    width: 3px;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(20,20,34,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/*theme colors*/
.bg-green{
	background: #2dc451;
}
.bg-blue{
	background: #3d73ea;
}
.bg-purple{
	background: #aa26db;
}
.bg-gray{
	background: #414165;
}
.bg-dark-gray{
	background: #141429;
}
.gradient{
	background: #aa26db;
	background: -moz-linear-gradient(left, #aa26db 0%, #3d73ea 100%);
	background: -webkit-linear-gradient(left, #aa26db 0%,#3d73ea 100%);
	background: linear-gradient(to right, #aa26db 0%,#3d73ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa26db', endColorstr='#3d73ea',GradientType=1 );
}
.purple-blue{
	background: #aa26db;
	background: -moz-linear-gradient(left, #aa26db 0%, #3d73ea 100%);
	background: -webkit-linear-gradient(left, #aa26db 0%,#3d73ea 100%);
	background: linear-gradient(to right, #aa26db 0%,#3d73ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa26db', endColorstr='#3d73ea',GradientType=1 );
}
.blue-shade{
	background: #3d73ea;
	background: -moz-linear-gradient(left, #3d73ea 0%, #34cdca 100%);
	background: -webkit-linear-gradient(left, #3d73ea 0%,#34cdca 100%);
	background: linear-gradient(to right, #3d73ea 0%,#34cdca 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d73ea', endColorstr='#34cdca',GradientType=1 );
}
.green-shade{
	background: #9ebe17;
	background: -moz-linear-gradient(left, #9ebe17 0%, #2dc250 100%);
	background: -webkit-linear-gradient(left, #9ebe17 0%,#2dc250 100%);
	background: linear-gradient(to right, #9ebe17 0%,#2dc250 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ebe17', endColorstr='#2dc250',GradientType=1 );
}
.silver-white{
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 100%);
	background: -webkit-linear-gradient(left, #ffffff 0%,#cccccc 100%);
	background: linear-gradient(to right, #ffffff 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 );
}
.silver-white{
	color: #000;
}

.btn.bg-green:hover{
	background: #23b846;
}
.btn.bg-blue:hover{
	background: #2f65dd;
}
.btn.bg-purple:hover{
	background: #9e1acf;
}
.btn.bg-gray:hover{
	background: #343456;
}
.btn:hover{
	color: #ffffff;
}

.navbar{
	background: #222341;
	padding: 0px;
}
.navbar-brand{
	padding-top: 15px;
	margin-bottom: 55px;
	margin-left: 15px;
}
.navbar-left{
	overflow: hidden;
	display: block;
	padding-right: 300px;
}
.navbar .navbar-brand img{
	width: 165px;
}
.navbar-nav{
	width: 100%;
}
.navbar .nav-item {
	width: 25%;
	border-right: solid 1px #141422;
}
.navbar .nav-link{
	width: 100%;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 55px; 
	text-align: center;
	font-size: 18px;
}
.navbar .nav-link .nav-link-grp{
	display: inline-block;
	text-align: left;
}
.navbar .nav-item:first-child{
	border-left: solid 1px #141422;
}
.navbar .nav-link .icon{
	width: 52px;
	height: 52px;
	float: left;
	margin-right: 10px;
	border: solid 2px #aa26db;
}
.navbar .nav-item:hover .nav-link, .navbar .nav-item.active .nav-link{
	background: #2b2c4e;
}
.navbar .nav-link .icon img{
	width: 100%;
}
.navbar .nav-link .link-label{
	margin-top: 7.5%;
	display: block;
	overflow: hidden;
}
.navbar .nav-link .link-label .badge{
	background: #2dc451;
	clear: both;
	font-weight: 400;
	font-size: 15px;
	display: block;
}
.navbar-right{
	width: 300px;
	float: right;
	text-align: center;
	position: fixed;
	right: 0px;
	top: 0;
    height: 127px;
    background: #222341;
}
.navbar-right .btn{
	color: #fff;
	font-size: 16px;
	width: 100%;
	height: 50px;
	line-height: 32px;
	margin-top: 20px;
    display: inline-block;
    width: 238px;
    max-width: 100%;
}
.navbar-right .profile-panel{
	width: 100%;
	height: 127px;
	float: left;
	color: #fff;
	font-size: 16px;
	padding: 15px 30px 55px 30px;
	line-height: 32px;
}
.navbar-right .profile-panel .nav-link-grp{
	display: inline-block;
	text-align: left;
}
.navbar-right .profile-panel .avatar{
	width: 52px;
	height: 52px;
	float: left;
	margin-right: 10px;
	border: solid 2px #3d73ea;
}
.navbar-right .profile-panel.active, .navbar-right .profile-panel:hover{
	background: #141429;
}
.navbar-right .profile-panel .avatar img{
	width: 100%;
	border-radius: 50px;
}
.navbar-right .profile-panel .link-label{
	display: block;
	overflow: hidden;
	font-size: 20px;
	line-height: 20px;
}
.navbar-right .profile-panel .link-label .level{
	display: block;
}
.navbar-right .profile-panel .link-label .text{
	font-weight: 400;
	font-size: 15px;
	display: inline-block;
}
.navbar-right .profile-panel .link-label .badge{
	font-weight: 400;
	font-size: 15px;
	display: inline-block;
}


.container-fluid{
	padding: 0px;
	z-index: 99;
	position: relative;
}
.content{
	padding-right: 300px;
}
.main-panel{
	margin-top: -40px;
	border-radius: 0px 20px 0px 0px;
	background-color: #37375b;
	overflow: hidden;
	display: block; 
	z-index: 1;
    position: relative;
    box-shadow: 0px 0px 60px rgba(0,0,0,0.5);
}
.main-panel.bg{
	background: url(../img/vgogem-bg.jpg) no-repeat center fixed; 
	background-size: cover; 
}
.main-panel .panel-top{
	border-radius: 0px 20px 0px 0px;
	background: #141422;
	width: 100%;
	height: 140px;
}
.main-panel .panel-top .skins-list{
	padding: 10px 0px; 
}
.main-panel .panel-top .skins-list .item{
	width: 140px;
	background: #2c2c4b;
	border-radius: 5px;
	border: solid 2px #39395a; 
	margin: 10px;
}
.main-panel .panel-top .skins-list .item .top-sec{
	width: 100%;
	padding: 5px 10px;
}
.main-panel .panel-top .skins-list .item .top-sec .avatar{
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 50px;
	margin-top: -15px;
	margin-left: -12px;
}
.main-panel .panel-top .skins-list .item .top-sec .avatar img{
	width: 100%;
	border-radius: 50px;
}
.main-panel .panel-top .skins-list .item .top-sec .code{
	float: left;
	opacity: 0.8;
	margin-left: 6px;
	font-size: 13px;
}
.main-panel .panel-top .skins-list .item .top-sec .amount{
	float: right;
}
.main-panel .panel-top .skins-list .item .mid-sec{
	width: 100%;
	float: left;
	text-align: center;
}
.main-panel .panel-top .skins-list .item .mid-sec img{
	height: 50px;
}
.main-panel .panel-top .skins-list .item .bottom-sec{
	width: 100%;
	float: left;
	text-align: center;
}
.main-panel .panel-top .skins-list .flickity-prev-next-button{
	top: 0;
    width: 30px;
    height: 140px;
	border-radius: 0; 
	transform: inherit; 
	background: #141422;
}
.main-panel .panel-top .skins-list .flickity-button-icon{
	fill: #fff;
}
.main-panel .panel-top .skins-list .flickity-prev-next-button.previous{
	left: 0px;
}
.main-panel .panel-top .skins-list .flickity-prev-next-button.next{
	right: 0px;
}

.main-panel .panel-leftbar{
	width: 215px;
	position: absolute;
	top: 140px;
	bottom: 0px;
	left: 0px;
	background: rgba(30,30,55,0.8);
}

.main-panel .panel-leftbar .player-list{
	width:100%;
	float: left;
	text-align: center;
}
.main-panel .panel-leftbar .player-list .player{
	padding: 10px;
	border-bottom: solid 1px #141422;
}
.main-panel .panel-leftbar .player-list .player .avatar{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: inline-block;
	border: solid 4px #aa26db;
	position: relative;
}
.main-panel .panel-leftbar .player-list .player .avatar:before{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -23px;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 34px solid #aa26db;
    top: 0px;
}
.main-panel .panel-leftbar .player-list .player .avatar img{
	width: 100%;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: relative;
	z-index: 1;
}
.main-panel .panel-leftbar .player-list .player .name{
	width: 100%;
	float: left;
	font-size: 14px;
	margin-top: 5px;
}
.main-panel .panel-leftbar .player-list .player .amount{
	width: 100%;
	float: left;
	font-size: 16px;
}
.main-panel .panel-leftbar .player-list .player .items{
	width: 100%;
	float: left;
	font-size: 13px;
	opacity: 0.6;
}
.main-panel .panel-leftbar .player-list .player .ratio{
	width: 100%;
	float: left;
	font-size: 22px;
	margin-top: 20px;
}

.main-panel .scoreboard{
	width: 215px;
	float: right;
	padding: 15px;
}
.main-panel .scoreboard .panel{
	border-radius: 5px;
	background: rgba(34,35,65,0.8);
	text-align: center;
	margin-bottom: 10px;
}
.main-panel .scoreboard .panel.winner{
	background: #aa26db;
	border: none; 
}
.main-panel .scoreboard .panel .icon{
	width: 100%;
	margin-top: -5px;
    float: left;
}
.main-panel .scoreboard .panel .icon img{
	width: 30px;
}
.main-panel .scoreboard .panel .label{
	font-size: 13px;
	opacity: 0.8;
	padding: 6px 0 0 0;
}
.main-panel .scoreboard .panel .score{
	font-size: 50px;
	font-weight: 500;
	line-height: 55px;
}
.main-panel .scoreboard .panel .score small{
	font-size: 50%;
}
.main-panel .scoreboard .panel .avatar{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: inline-block;
	border: solid 4px #ffffff;
	position: relative;
	margin-top: 10px;
}
.main-panel .scoreboard .panel .avatar:before{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -24px;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-top: 34px solid #ffffff;
}
.main-panel .scoreboard .panel .avatar img{
	width: 100%;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: relative;
	z-index: 1;
}
.main-panel .scoreboard .panel .name{
	width: 100%;
	display: inline-block;
	font-size: 20px;
	margin-top: 20px;
}
.main-panel .scoreboard .panel .score-des{
	width: 100%;
	display: inline-block;
	font-size: 13px;
	line-height: 15px;
	opacity: 0.8;
	padding-bottom: 10px;
}
.firework {
	width: 260px;
	height: 260px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top:-130px;
	line-height: 260px;
}
.firework img{
	max-width: 100%;
}


.chat-panel{
	width: 300px;
	z-index: 9;
    position: fixed;
    padding: 0px 30px;
    top: 127px;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;

}
.chat-panel.fixed{
	position: fixed;
}
.chat-panel .online-display{
	width: 238px;
	float: left;
	border-radius: 5px;
	padding: 6px 10px;
	font-size: 16px;
	position: fixed;
	top: 90px;
}
.chat-panel .online-display:before{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #774be2;
}
.chat-panel .online-display .social-icon{
	width: 25px;
	float: right;
	margin-left: 5px;
	border-radius: 5px;
	border: solid 1px #fff; 
}
.chat-panel .online-display .social-icon img{
	width: 100%;
}
.chat-panel .chat-list{
	width: 100%;
	float: left;
}
.chat-panel .chat-list .users{
	width: 100%;
	float: left;
	margin-top: 15px;
}
.chat-panel .chat-list .users .avatar{
	width: 55px;
	height: 55px;
	border-radius: 100px;
	float: left;
	margin-right: 15px;
}
.chat-panel .chat-list .users .avatar img{
	width: 100%;
	border-radius: 100px;
}
.chat-panel .chat-list .users .content-sec{
	overflow: hidden;
	display: block;
	padding-top: 5px;
}
.chat-panel .chat-list .users .content-sec .name{
	font-size: 16px;
}
.chat-panel .footer-sec{
	position: fixed;
    bottom: 0;
    right: 0;
    background: #262649;
    padding: 11px 30px;
    width: 300px;
}
.chat-panel .footer-sec .btn{
	width: 100%;
	color: #fff;
}
.chat-panel .footer-sec .form-control{
	background: no-repeat;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	color: #fff;
}
.chat-panel .footer-sec .input-group {
	margin: 0 -15px;
	width: auto;
}
.chat-panel .footer-sec .input-group .btn{
	border: none;
	background: none;
}

footer{
	padding: 19px 0px;
	text-align: center;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	position: relative;
	z-index: 9;
}

.jackpot-panel{
	overflow: hidden;
	display: block;
	padding-left: 230px; 
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.jackpot-panel .jackpot{
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.jackpot-panel .jackpot #doughnut-canvas{
	padding: 36px;
}
.jackpot-panel .jackpot .jackpot-line{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.jackpot-panel .jackpot .jackpot-line img{
	width: 100%;
}
.jackpot-panel .jackpot .jackpot-pointer{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.jackpot-panel .jackpot .jackpot-pointer img{
	width: 100%;
}
.jackpot-timer{
	position: absolute;
	top: 130px;
	left: 130px;
	right: 130px;
	bottom: 130px;
}
.jackpot-timer #canvas .circle {
	display: inline-block;
	margin: 0;
}
.jackpot-timer .circles-decimals {
	font-size: .4em;
}
.jackpot-timer .circles-text{
	display: none;
}

.jackpot-score{
	width: 560px;
	height: 560px;
	padding: 130px; 
	position: absolute;
	top: 75px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	display: table;
	vertical-align: middle;
}
.jackpot-score .scores{
	display: table-cell;
	vertical-align: middle;
}
.jackpot-score .amount{
	width: 100%;
	display: inline-block;
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
}
.jackpot-score .skins{
	width: 100%;
	display: inline-block;
	font-size: 30px;
	color: #fff;
}
.jackpot-score .icon{
	width: 55px;
	height: 55px;
	display: inline-block;
	border-radius: 100px;
	background: #aa26db;
	margin-top: 10px;
}
.jackpot-score .icon img{
	width: 100%;
}
.jackpot-score .betting-amount{
	font-size: 14px;
	padding: 5px 15px 0px;
}

.jackpot-btn{
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	z-index: 99;
}
.jackpot-btn .btn{
	margin-top: 40px;
	width: 200px;
	color: #fff;
	height: 60px;
	text-transform: uppercase;
	line-height: 42px;
}
.jackpot .sound-btn{
	position: absolute;
	right: 20px;
	top: 0px;
	width: 42px;
	height: 42px;
	background: #fff;
	font-size: 18px;
	z-index: 99;
	color: #aa26db;
}

.winners-history-panel{
	width: 100%;
	float: left;
	margin-top: 30px;
	padding-left: 230px;
	padding-right: 15px;
}
.winners-history-panel .panel{
	width: 100%;
	float: left;
	background: #272746;
	padding: 15px;
	margin-bottom: 20px;
}
.winners-history-panel .panel .player-list{
	width: 100%;
	float: left;
	background: #1e1e37;
}
.winners-history-panel .panel .player-list ul{
	margin: 0px;
	padding: 10px;
	list-style: none;
	text-align: center;
	width: 100%;
	float: left;
}
.winners-history-panel .panel .player-list ul li{
	width: 90px;
	display: inline-block;
	margin: 5px; 
}
.winners-history-panel .panel .player-list ul li a{
	width: 100%;
	float: left;
	position: relative;
	border: solid 1px #37375b;
}
.winners-history-panel .panel .player-list ul li a:hover{
	border-color: #3d73ea;
}
.winners-history-panel .panel .player-list ul li a img{
	width: 100%;
}
.winners-history-panel .panel .player-list ul li a .score{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2px;
	color: #fff;
	background: rgba(30,30,55,0.9);
	font-size: 13px;
	text-align: center; 
}
.winners-history-panel .winner-info{
	width: 100%;
	max-width: 100%;
	background: #17172d;
	float: left;
	text-align: center;
	padding: 15px;
}
.winners-history-panel .winner-info .avatar{
	width: 100px;
	height: 100px;
	display: inline-block;
	border: solid 2px #3d73ea;
}
.winners-history-panel .winner-info .avatar img{
	width: 100%;
}
.winners-history-panel .winner-info .info{
	display: inline-block;
	text-align: left;
	margin-left: 10px;
	vertical-align: middle;
}
.winners-history-panel .winner-info .info .name{
	font-size: 20px;
	margin-bottom: 6px;
	margin-top: 5px;
}
.winners-history-panel .winner-info .info .score{
	font-size: 14px;
	line-height: 16px;
}
.winners-history-panel .winning-items{
	width: 100%;
	float: left;
	background: #1e1e37;
	padding: 15px;
	margin-top: 20px;
}
.winners-history-panel .winning-items .title{
	font-size: 20px;
	margin-bottom: 15px;
}
.winners-history-panel .winning-items ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	float: left;
	text-align: center;
}
.winners-history-panel .winning-items ul li{
	width: 140px;
	display: inline-block;
	margin: 5px;
	text-align: center;
	border: solid 1px #37375b;
	vertical-align: middle;
}
.winners-history-panel .winning-items ul li.skin-item{
	background: #1e1e37;
	position: relative;
}
.winners-history-panel .winning-items ul li.skin-item .code{
	float: left;
    opacity: 0.8;
    margin-left: 5px;
    font-size: 13px; 
}
.winners-history-panel .winning-items ul li.skin-item .top-sec .amount{
	float: right;
	margin-right: 10px;
}
.winners-history-panel .winning-items ul li.skin-item .mid-sec{
	width: 100%;
	float: left;
	text-align: center;
	padding: 5px 0px;
}
.winners-history-panel .winning-items ul li.skin-item .mid-sec img{
	height: 50px;
}
.winners-history-panel .winning-items ul li.skin-item .bottom-sec{
	width: 100%;
	float: left;
	text-align: center;
	background: #15152a;
	font-size: 13px;
	padding: 2px 0px;
	border-radius: 0px 0px 5px 5px;
}



.modal-lg{
	max-width: 970px;
}
.modal-lg .modal-content{
	max-width: 970px;
	background: #2d2d4e;
	padding: 15px;
}
.modal .close{
	color: #ffffff;
	text-shadow: none;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 1;
}
.modal-inventory .score-panel .item{
	width: 100%;
	float: left;
	background: #1f1f34;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 15px;
}
.modal-inventory .score-panel .item:last-child{
	margin-bottom: 0px;
}
.modal-inventory .score-panel .item.cols3{
	padding: 40px 15px;
}
.modal-inventory .score-panel .item span{
	width: 100%;
	float: left;
	text-align: center;
}
.modal-inventory .score-panel .item .label{
	font-size: 16px;
	opacity: 0.8;
}
.modal-inventory .score-panel .item .score{
	font-size: 26px;
}
.modal-inventory .data-panel .controlers{
	float: left;
	width: 100%;
	text-align: center;
}
.modal-inventory .data-panel .controlers .your-coins{
	margin-right: 15px;
}
.modal-inventory .data-panel .controlers .your-coins a{
	width: 50px;
	display: inline-block;
	margin-right: 15px;
	opacity: 0.8;
}
.modal-inventory .data-panel .controlers .your-coins a:hover, .modal-inventory .data-panel .controlers .your-coins a:focus{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	opacity: 1;
}
.modal-inventory .data-panel .controlers .your-coins a img{
	width: 100%;
}
.modal-inventory .data-panel .controlers .btn{
	height: 50px;
	padding: 0px;
	background: #1f1f34;
	line-height: 48px;
	color: #fff;
	padding-right: 10px;
	font-size: 14px;
	margin-right: 10px;
	display: inline-block;
}
.modal-inventory .data-panel .controlers .btn:hover{
	background: #131325;
}
.modal-inventory .data-panel .controlers .btn .icon{
	width: 50px;
	height: 50px;
	float: left;
}
.modal-inventory .data-panel .controlers .btn .icon img{
	width: 40px;
}
.modal-inventory .data-panel .data-content{
	min-height: 390px;
    float: left;
    width: 100%;
    position: relative;
}
.modal-inventory .data-panel .data-content .empty-data{
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}
.modal-inventory .data-panel .data-content .skin-item{
	width: 123px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	background: #1e1e37;
	border-radius: 5px;
	position: relative;
	margin-top: 10px;
}
.modal-inventory .data-panel .data-content .skin-item .code{
	float: left;
    opacity: 0.8;
    margin-left: 5px;
    font-size: 13px; 
}
.modal-inventory .data-panel .data-content .skin-item .top-sec .amount{
	float: right;
	margin-right: 10px;
}
.modal-inventory .data-panel .data-content .skin-item .mid-sec{
	width: 100%;
	float: left;
	text-align: center;
	padding: 5px 0px;
}
.modal-inventory .data-panel .data-content .skin-item .mid-sec img{
	height: 50px;
}
.modal-inventory .data-panel .data-content .skin-item .bottom-sec{
	width: 100%;
	float: left;
	text-align: center;
	background: #15152a;
	font-size: 13px;
	padding: 2px 0px;
	border-radius: 0px 0px 5px 5px;
}
.modal-inventory .data-panel .bottom-sec{
	float: left;
    width: 100%;
    margin-top: 10px;
}
.modal-inventory .data-panel .bottom-sec .text{
	margin-right: 15px;
	margin-top: 15px;
}
.modal-inventory .data-panel .bottom-sec .btn{
	background: #2dc451;
	color: #fff;
	height: 50px;
}
.modal-inventory .data-panel .bottom-sec .btn:disabled{
	background: #1f1f34;
	color: rgba(255,255,255,0.6);
}
.selected-item {
    opacity: 0.4;
    filter: alpha(opacity=40);
}


.coin-flip-panel{
	padding: 30px;
}
.coin-flip-panel .coin-flip-score{
	background: #1e1e37;
	border-radius: 5px;
}
.coin-flip-panel .coin-flip-score .scores{
	overflow: hidden;
	display: block;
}
.coin-flip-panel .coin-flip-score .scores .cols{
	border-right: solid 1px #11111d;
}
.coin-flip-panel .coin-flip-score .scores .item{
	width: 50%;
	float: left;
	padding: 15px;
}
.coin-flip-panel .coin-flip-score .scores .item .label{
	opacity: 0.8;
	font-size: 13px;
}
.coin-flip-panel .coin-flip-score .scores .item .value{
	font-size: 20px;
}
.coin-flip-panel .coin-flip-score .scores .item .value .icon{
	width: 25px;
	float: left;
	margin-right: 5px;
}
.coin-flip-panel .coin-flip-score .scores .item .value .icon img{
	width: 100%;
}
.coin-flip-panel .coin-flip-score .action-panel{
	float: right;
	padding: 17px 15px;
	border-left: solid 1px #11111d;
}
.coin-flip-panel .coin-flip-score .action-panel .btn{
	color: #fff;
	padding: 10px 10px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}

.coin-players-list{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.coin-players-list .item{
	width: 100%;
	float: left;
	border-radius: 5px;
	background: #272746;
	padding: 15px;
	margin-bottom:10px; 
}
.coin-players-list .item .player-vs{
	text-align: center;
	float: left;
	vertical-align: middle;
}
.coin-players-list .item .player-vs .avatar{
	width: 60px;
	height: 60px;
	display: inline-block;
}
.coin-players-list .item .player-vs .avatar img{
	width: 100%;
}
.coin-players-list .item .player-vs .vs{
	width: 35px;
	height: 35px;
	background: #1e1e37	;
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
}
.coin-players-list .item .player-vs .amount span{
	background: #15152a;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding: 3px 15px;
	margin-top: 5px;
}
.coin-players-list .item .action-col{
	float: right;
}
.coin-players-list .item .action-col .avatar{
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-top: 20px;
	vertical-align:middle;
}
.coin-players-list .item .action-col .avatar img{
	width: 100%;
}
.coin-players-list .item .action-col .circle{
	vertical-align: middle;
	display: inline-block;
	margin-top: 22px;
}
.coin-players-list .item .action-col .btn{
	width: 60px;
	height: 60px;
	text-align: center;
	margin-top: 20px;
	margin-left: 5px;
	display: inline-block;
}
.coin-players-list .item .action-col .btn span{
	display: block;
	font-size: 14px;
}
.coin-players-list .item .skins-col{
	overflow: hidden;
}

.coin-players-list .item .skins-col .skins-list{
	padding: 0px 15px;
}
.coin-players-list .item .skins-col .skins-list .skin-item{
	width: 100px;
	background: #1e1e37;
	border-radius: 5px;
	position: relative;
	margin: 10px;
}
.coin-players-list .item .skins-col .skins-list .skin-item .code{
	width: 30px;
	height: 30px;
	position: absolute;
	top: -10px;
	left: 0px;
	font-size: 13px;
	background: #4a4a6f;
	border-radius: 5px;
	text-align: center;
	line-height: 30px; 
}
.coin-players-list .item .skins-col .skins-list .skin-item .top-sec .amount{
	float: right;
}
.coin-players-list .item .skins-col .skins-list .skin-item .mid-sec{
	width: 100%;
	float: left;
	text-align: center;
	padding: 5px 0px;
}
.coin-players-list .item .skins-col .skins-list .skin-item .mid-sec img{
	height: 50px;
}
.coin-players-list .item .skins-col .skins-list .skin-item .bottom-sec{
	width: 100%;
	float: left;
	text-align: center;
	background: #15152a;
	font-size: 13px;
	padding: 2px 0px;
	border-radius: 0px 0px 5px 5px;
}
.coin-players-list .item .skins-col .skins-list .flickity-prev-next-button{
	display: none;
}

.coinFlipModal .modal-header{
	border-bottom: none;
	font-size: 20px;
}
.coinFlipModal .players-panel{
	width: 100%;
	float: left;
}
.coinFlipModal .players-panel .player-left{
	float: left;
	padding: 15px;
	vertical-align: middle;
}
.coinFlipModal .players-panel .player-left .avatar{
	width: 90px;
	height: 90px;
	float: left;
	position: relative;
	border: solid 3px #1e1e37;
}
.coinFlipModal .players-panel .player-left .avatar img{
	width: 100%;
}
.coinFlipModal .players-panel .player-left .avatar .crown{
	display: none;
}
.coinFlipModal .players-panel .player-left .avatar.winner .crown{
	width: 66px;
	position: absolute;
	top: -27px;
	left: 50%;
	margin-left: -33px;
	display: block;
}
.coinFlipModal .players-panel .player-left .avatar.winner{
	border-color: #f7e70c;
}
.coinFlipModal .players-panel .player-right .avatar.loser{
	opacity: 0.5;
}
.coinFlipModal .players-panel .player-left .avatar .coin{
	position: absolute;
	width: 32px;
	height: 32px;
	bottom: -5px;
	right: -5px;
}
.coinFlipModal .players-panel .player-left .avatar .coin img{
	width: 100%;
}
.coinFlipModal .players-panel .player-left .name{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
    margin-top: 26px;
}

.coinFlipModal .players-panel .player-right{
	float: right;
	padding: 15px;
	vertical-align: middle;
}
.coinFlipModal .players-panel .player-right .avatar{
	width: 90px;
	height: 90px;
	float: right;
	position: relative;
	border: solid 3px #1e1e37;
}
.coinFlipModal .players-panel .player-right .avatar img{
	width: 100%;
}
.coinFlipModal .players-panel .player-right .avatar .coin{
	position: absolute;
	width: 32px;
	height: 32px;
	bottom: -5px;
	left: -5px;
}
.coinFlipModal .players-panel .player-right .avatar .coin img{
	width: 100%;
}
.coinFlipModal .players-panel .player-right .name{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
    margin-top: 26px;
}
.coinFlipModal .players-panel .coin-flip-anim{
	overflow: hidden;
	display: block;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here .side-a {
  background: url(../img/coin-red.png) no-repeat center;
  background-size: cover;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here .side-b {
  background: url(../img/coin-blue.png) no-repeat center;
  background-size: cover;
}

.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here{
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here .side-a {
  z-index: 100;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here .side-b {
  -webkit-transform: rotateY(-180deg);

}

.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
    -o-animation: flipHeads 3s ease-out forwards;
       animation: flipHeads 3s ease-out forwards;
}
.coinFlipModal .players-panel .coin-flip-anim #coin-flip-here.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
    -o-animation: flipTails 3s ease-out forwards;
       animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}
@-webkit-keyframes flipTails {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}


.coinFlipModal .palyer-skins-panel{
	width: 100%;
	float: left;
	position: relative;
	margin-top: 20px; 
}
.coinFlipModal .palyer-skins-panel .devider{
	width: 2px;
	background: #434364;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
}
.coinFlipModal .palyer-skins-panel .devider:before{
	content: "vs";
	position: absolute;
	width: 30px;
	height: 30px;
	background: #434364;
	border-radius: 50px;
	top: 50%;
	margin-top:-15px;
	margin-left: -15px;
	text-align: center;
	line-height: 30px;
}
.coinFlipModal .palyer-skins-panel .col:first-child{
	padding-right: 45px;
}
.coinFlipModal .palyer-skins-panel .col:last-child{
	padding-left: 45px;
}
.coinFlipModal .palyer-skins-panel .card {
	background: #222341;
}
.coinFlipModal .palyer-skins-panel .card .card-header{
	background: #1e1e37;
}
.coinFlipModal .palyer-skins-panel .card .card-header label{
	font-weight: 400;
	opacity: 0.8;
	font-size: 16px;
}
.coinFlipModal .palyer-skins-panel .card .card-body{
	padding: 0px;
	height: 300px;
	overflow-y: auto;
}
.coinFlipModal .palyer-skins-panel .card .card-body img{
	width: 65px;
}
.coinFlipModal .palyer-skins-panel .card .card-body span{
	display: block;
}
.coinFlipModal .palyer-skins-panel .card .card-body span.des{
	opacity: 0.8;
}
.coinFlipModal .palyer-skins-panel .card .card-body span.amount{
	font-size: 16px;
	text-align: right;
}
.coinFlipModal .palyer-skins-panel .card .card-body table td{
	border-color: #121220; 
	vertical-align: middle;
}


.profile-content-panel{
	padding: 30px;
}
.profile-content-panel .dashboard-panel{
	width: 100%;
    float: left;
	background: #272746;
}
.profile-content-panel .dashboard-panel .left-panel{
	background: #1e1e37;
	padding: 30px 15px;
	float: left;
}
.profile-content-panel .dashboard-panel .left-panel .avatar{
	width: 100px;
	height: 100px;
	float: left;
	border: solid 2px #3d73ea;
	margin-right: 15px;
}
.profile-content-panel .dashboard-panel .left-panel .avatar img{
	width: 100%;
}
.profile-content-panel .dashboard-panel .left-panel .info-sec{
	overflow: hidden;
	display: block;
}
.profile-content-panel .dashboard-panel .left-panel .info-sec .name{
	font-size: 20px;
}
 .level .badge{
	font-weight: 400;
	padding: 4px 8px;
}
.profile-content-panel .dashboard-panel .left-panel .info-sec .btn-logout{
	border: solid 1px #cf3939;
	font-size: 15px;
	margin-top: 8px;
	width: 100px;
}
.profile-content-panel .dashboard-panel .left-panel .info-sec .btn-logout:hover{
	background: #141429;
}
.profile-content-panel .dashboard-panel .right-panel{
	padding: 20px 15px;
	overflow: hidden;
	display: block;
}
.profile-content-panel .dashboard-panel .right-panel .row{
	margin: 0 -5px;
}
.profile-content-panel .dashboard-panel .right-panel .col{
	padding: 0 5px;
}
.profile-content-panel .dashboard-panel .right-panel .panel{
	background: #1e1e37;
	text-align: center;
}
.profile-content-panel .dashboard-panel .right-panel .panel .value{
	font-size: 20px;
	display: inline-block;
	width: 100%;
	height: 85px;
	padding-top: 30px;
	overflow: hidden;
	vertical-align: middle;
}
.profile-content-panel .dashboard-panel .right-panel .panel .label-name{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	background: #141429;
	padding: 5px;
	vertical-align: middle;
}
.profile-content-panel .progress-panel{
	width: 100%;
	display: inline-block;
	padding: 15px;
	background: #272746;
	margin-top: 30px;
}
.profile-content-panel .progress-panel .progress{
	height: 60px;
	background: #1e1e37;
}
.profile-content-panel .progress-panel .value{
	font-size: 14px;
	margin-top: 5px;
	opacity: 0.8;
}
.profile-content-panel .level-status-panel{
	width: 100%;
	display: inline-block;
	margin-top: 30px;
	text-align: center;
}
.profile-content-panel .level-status-panel .panel{
	background: #272746;
}
.profile-content-panel .level-status-panel .row{
	margin: 0 -10px;
}
.profile-content-panel .level-status-panel .row .col{
	padding: 0 10px;
}
.profile-content-panel .level-status-panel .panel .total-record{
	background: #1e1e37; 
}
.profile-content-panel .level-status-panel .panel .title{
	font-size: 18px;
	opacity: 0.8;
}
.profile-content-panel .level-status-panel .panel .row{
	margin: 0px;
}
.profile-content-panel .level-status-panel .panel .row .col{
	padding: 15px 10px;
}
.profile-content-panel .level-status-panel .panel .total-record .records{
	min-width: 100px;
	width: auto;
	height: 60px;
	display: inline-block;
	font-size: 46px;
	line-height: 50px;
	margin-top: 10px;
}
.profile-content-panel .level-status-panel .panel .item{
	border-right: 1px #141422 solid;
}
.profile-content-panel .level-status-panel .panel .item:last-child{
	border-right: none; 
}
.profile-content-panel .level-status-panel .panel .item .records{
	margin-top: 20px;
	font-size: 26px;
}
.profile-content-panel .level-status-panel .panel .item .icon{
	width: 30px;
	display: inline-block;
}
.profile-content-panel .level-status-panel .panel .item .icon img{
	width: 100%;
}
.profile-content-panel .support-panel{
	width: 100%;
	float: left;
	margin-top: 30px;
	text-align: center;
}
.profile-content-panel .support-panel .btn{
	width: 180px;
	height: 60px;
	line-height: 50px;
	display: inline-block;
	background: #272746;
	text-transform: uppercase;
}
.profile-content-panel .support-panel .btn:hover{
	background: #1e1e37;
}
.modal-lg .modal-header {
    border-bottom: none;
    font-size: 20px;
}
.modal-tabs{
	width: 100%;
	float: left;
}
.modal-tabs .nav-tabs{
	border:none;
}
.modal-tabs .nav-tabs .nav-link{
	background: #141429;
	color: #ffffff;
	border: none;
	padding: 15px;
	font-size: 16px;
}
.modal-tabs .nav-tabs .nav-link.active{
	background: #3d73ea;
	color: #ffffff;
}
.modal-tabs .nav-tabs .nav-link:hover{
	border: none;
}
.nav-fill .nav-item .nav-link{
	border-radius: 0px; 
}
.nav-fill .nav-item:first-child .nav-link{
	border-radius: 5px 0px 0px 5px;
}
.nav-fill .nav-item:last-child .nav-link{
	border-radius: 0px 5px 5px 0px;
}
.historyModal .profile-content-panel{
	padding: 0px;
}
.historyModal .panel{
	width: 100%;
    float: left;
	background: #272746;
	margin-bottom: 15px;
}
.historyModal .panel .left-panel{
	background: #1e1e37;
	padding: 30px 15px;
	float: left;
	text-align: center;
	min-height: 285px;
}
.historyModal .panel .left-panel .avatar{
	width: 100px;
	height: 100px;
	display: inline-block;
	border: solid 2px #3d73ea;
}
.historyModal .panel .left-panel .avatar img{
	width: 100%;
}
.historyModal .panel .left-panel .info-sec{
	width: 100%;
	display: block;
	text-align: center;
}
.historyModal .panel .left-panel .info-sec .name{
	font-size: 20px;
	margin-top: 10px;
}
.historyModal .panel .left-panel .info-sec .info{
	margin-top: 10px;
	float: left;
	width: 100%;
}
.historyModal .panel .left-panel .info-sec .info span{
	width: 100%;
	float: left;
	font-size: 16px;
}
.historyModal .panel .left-panel .info-sec .date{
	margin-top: 10px;
	float: left;
	width: 100%;
}
.historyModal .panel .left-panel .info-sec .date span{
	width: 100%;
	float: left;
	font-size: 13px;
	font-weight: 300;
	opacity: 0.8;
}
.historyModal .panel .right-panel{
	padding: 10px;
	overflow: hidden;
	display: block;
}

.historyModal .player-list{
	width: 100%;
	float: left;
	background: #1e1e37;
	padding: 10px;
}
.historyModal .player-list .gallery{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}
.historyModal .player-list .gallery .gallery-cell{
	width: 90px;
	display: inline-block;
	margin: 5px; 
}
.historyModal .player-list .gallery .gallery-cell a{
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	border: solid 1px #37375b;
}
.historyModal .player-list .gallery .gallery-cell a:hover{
	border-color: #3d73ea;
}
.historyModal .player-list .gallery .gallery-cell a img{
	width: 100%;
}
.historyModal .player-list .gallery .gallery-cell a .score{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2px;
	color: #fff;
	background: rgba(30,30,55,0.9);
	font-size: 13px;
	text-align: center; 
}
.historyModal .skins-list{
	width: 100%;
	float: left;
	background: #1e1e37;
	padding: 10px;
	margin-top: 10px;
}
.historyModal .skins-list .gallery{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	float: left;
	text-align: center;
}
.historyModal .skins-list .gallery .skin-item{
	width: 140px;
	display: inline-block;
	margin: 5px;
	text-align: center;
	border: solid 1px #37375b;
	vertical-align: middle;
}
.historyModal .skins-list .gallery .skin-item{
	background: #1e1e37;
	position: relative;
}
.historyModal .skins-list .gallery .skin-item .code{
	float: left;
    opacity: 0.8;
    margin-left: 5px;
    font-size: 13px; 
}
.historyModal .skins-list .gallery .skin-item .top-sec .amount{
	float: right;
	margin-right: 10px;
}
.historyModal .skins-list .gallery .skin-item .mid-sec{
	width: 100%;
	float: left;
	text-align: center;
	padding: 5px 0px;
}
.historyModal .skins-list .gallery .skin-item .mid-sec img{
	height: 50px;
}
.historyModal .skins-list .gallery .skin-item .bottom-sec{
	width: 100%;
	float: left;
	text-align: center;
	background: #15152a;
	font-size: 13px;
	padding: 2px 0px;
	border-radius: 0px 0px 5px 5px;
}

.historyModal .panel .left-panel .player-vs{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.historyModal .panel .left-panel .player-vs .avatar{
	width: 60px;
	height: 60px;
	display: inline-block;
	position: relative;
}
.historyModal .panel .left-panel .player-vs .avatar img{
	width: 100%;
}
.historyModal .panel .left-panel .player-vs .avatar.winner{
	border-color: #f7e70c;
}
.historyModal .panel .left-panel .player-vs .avatar .crown{
	position: absolute;
	top: -20px;
	left: 0px;
	right: 0px;
	text-align: center;
	display: none;
}
.historyModal .panel .left-panel .player-vs .avatar.winner .crown{
	display: block;
}
.historyModal .panel .left-panel .player-vs .vs{
	width: 35px;
	height: 35px;
	background: #1e1e37	;
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
}
.historyModal .panel .left-panel .player-vs .amount span{
	background: #15152a;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding: 3px 15px;
	margin-top: 5px;
}
.historyModal .panel-coinflip .left-panel{
	min-height: inherit;
	padding-bottom: 15px;
}
.historyModal .panel-coinflip .skins-list .gallery .skin-item{
	width: 120px;
	margin: 10px 5px;
}
.historyModal .panel-coinflip .skins-list .gallery .skin-item .code{
	width: 30px;
	height: 30px;
	position: absolute;
	top: -10px;
	left: -5px;
	font-size: 13px;
	background: #4a4a6f;
	border-radius: 5px;
	text-align: center;
	line-height: 30px; 
}
.historyModal .panel-coinflip .skins-list .gallery .skin-item .top-sec .amount{
	float: right;
}
.historyModal .panel-coinflip .skins-list .gallery .skin-item .mid-sec{
	width: 100%;
	float: left;
	text-align: center;
	padding: 5px 0px;
}
.historyModal .panel-coinflip .skins-list .gallery .skin-item .mid-sec img{
	height: 60px;
}
.historyModal .panel-coinflip .skins-list .gallery .skin-item .bottom-sec{
	width: 100%;
	float: left;
	text-align: center;
	background: #15152a;
	font-size: 13px;
	padding: 2px 0px;
	border-radius: 0px 0px 5px 5px;
}

.card{
	margin-bottom: 15px;
}
.card .card-header{
	font-size: 16px;
	cursor: pointer;
}
.card .card-header .fa{
	float: right;
	font-size: 20px;
	color: rgba(255,255,255,0.5);
}
.card .card-header.collapsed .fa{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}