<div class="jumbotron row" align="center">
    <div class="row" align="center">
        <img src=<%- queriedUser.avatarfull %><br>
        <p><%- queriedUser.personaname %></p>
    </div>
    <div class="row" align="center">
        <p>Lorem ipsum</p><br>
        <p>Dolor sit amet</p><br>
        <p>Consectetur blablabla</p>
    </div>
</div>