<div class="jumbotron container-fluid row" align="center">
    <div class="row">
        <img src=<%- queriedUser.avatarfull %>
        <p><%- queriedUser.personaname %></p>
    </div>
    <div class="row" style="margin-top: 25px;">
        <form action="/user/tradeUrl" method="POST">
            <input type="text" name="tradeUrl" value='<%- queriedUser.hasOwnProperty("tradeUrl") ? queriedUser.tradeUrl : "No URL set up" %>'>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>